.article_about{
    padding-top: 40px;
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-bottom: 5%;
    
}
#ABOUT{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    font-size: 2.5rem ;
    font-weight : bold;
    /* margin-bottom: 40px; */
}
 #ABOUT::before{
    content: "";
    position: absolute;
    margin-left: 43.5%;
    padding-left: 0;
    left: 0;
    width: 13%;
    height: 10%;
    border-bottom: 3px solid black; 
}

.introduce{
    display: flex;
    
}
#about_left{
    display: inline-block;
    width: 250px;
    /* padding-right: 3%; */
    border-right: 3px dotted #2b2828;
    

}
.juyoung_information{
    /* border-bottom: 1.5px solid black; */
    background-color: #e7e405d3;
    font-weight: 550;
}
.juyoung_information_2{
    font-weight: 500;
}
#about_right{
    display: inline-block;
    width: 700px;
    padding-left :2%;
    position: relative;
    
    
}
.introduce .about_1{
    font-size: 1.15rem;
    font-weight: 300;
    line-height: 1.7em;/*띄어쓰기*/
}
.introduce .about_2{
    display: none;
    font-size: 1.15rem;
    font-weight: 300;
    line-height: 1.7em;/*띄어쓰기*/
}
.introduce .about_3{
    display: none;
    font-size: 1.15rem;
    font-weight: 300;
    line-height: 1.7em;/*띄어쓰기*/
}
.introduce .about_4{
    display: none;
    font-size: 1.15rem;
    font-weight: 300;
    line-height: 1.7em;/*띄어쓰기*/
}
.about_Title{
    font-size: 1.8rem;
    font-weight: 500;
    display: inline-block;
    background-color: black; 
    padding: 8px 16px;
    color: white;
    border-radius: 20px;
    margin-left:10%;
}
.about_Title_2{
    font-size: 1.8rem;
    font-weight: 500;
    display: inline-block;
    background-color: black;
    padding: 8px 16px;
    color: white;
    border-radius: 20px;
    margin-left: 22%;
}
#about_3_p{
    padding-left: 2%;   
}
.strong_p{
    font-weight: bold;
}
.about_span{
    border-bottom: 3px solid #bbb804d3;
}
.img_juyoung{
    height: 220px;
    width: 180px;
    bottom: 0px;
    left: 0px;
    /* float: left; */
    padding-right: 1.5%;
}
#menus_position{
    position: absolute;
    /* left: 87%; */
    right: 0%;
    bottom: 0%;
}
.menus{
    list-style: none;
}
.menus li{
    float: left;
    font-size: 2rem;
    
}
.menus li i{
    cursor: pointer;
    border-radius: 100px;
}
.menu_active{
    border-radius: 100px;
    background-color: black;
    color: white;
}

.fontello_color_js{
    color: white;
}
.fontello_color_js:hover{
    color: #3769d4 !important;
}
.Night_color{
    color: #3769d4 !important;
}
.Night_color:hover{
    color: #3769d4 !important;
    
}

.Night_color_background{
    color: white !important;
    background-color: #3769d4 !important; 
     
}
.Night_color_hover:hover{
    color : white;
    background-color: #3769d4 !important;
}
.Night_color_backgroud_back{
    color : white;
    background-color: #365e99 !important;
}
/*Navibar 스크롤 전용*/

.Night_color_hover_scroll:hover{
    
    color: #3769d4 !important;
}

/* @media (max-width: 1200px){
    .introduce .about_1{
        font-size: 1.1em;

    }
    .introduce .about_2{
        font-size: 1.1em;

    }
    .introduce .about_3{
        font-size: 1.1em;

    }
    .introduce .about_4{
        font-size: 1.1em;

    }
} */
@media (max-width: 800px){
    .article_about{
        display: flex;
        flex-flow: column;
        margin-left: -200px;
    }
    #ABOUT{
        margin-left: 200px;
    }
    .img_juyoung{
        width: 100px;
    }
    
    
}
@media (max-width: 449px) {
   
   .introduce{
       display: flex;
       flex-flow: column;
       justify-content: center;
       align-items: center;
       overflow-x: hidden;
       overflow-y: hidden;
   }
   .img_juyoung{
       width: 150px;
   }
   #about_left{
       margin-left:300px ;
       /* height: 0; */
       /* width: 0; */
       border-right: 0;
       
   }
   
    #about_right{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    width: 350px;
    height: 400px;
    margin-left: 35%;
    }
    .about_Title{
        font-size: 1.1rem;
    }
    .introduce .about_1{
     font-size:0.9rem;
     
    }
    .introduce .about_2{
     font-size:0.9rem;
     
    }
    .introduce .about_3{
     font-size:0.9rem;
     
    }
    .introduce .about_4{
     font-size:0.9rem;
     
    }
    
   
    
    
    #menu-link_2::before{
        content: '장점과 단점';
    }
}