.article_projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;

}
#Project{
    display: flex;
    justify-content: center;
    align-items: center;
    height:20vh;
    font-size: 2.5rem ;
    font-weight : bold;
    margin-top: 40px;
    /* margin-bottom: 40px; */
    
}

 #Project::before{
    content: "";
    position: absolute;
    margin-left: 43.5%;
    padding-left: 0;
    left: 0;
    width: 13%;
    height: 10%;

    border-bottom: 3px solid black; 
}
#project_containar_center{
  display: flex;
  justify-content: center;
  width: 1200px;
  position: relative;

}
#project_div{

  width: 1000px;

}

#article_project_1{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.article_project_2{
  display: none;
}
.article_project_2_open{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}
.project_number{
  display: block;
  font-weight: 900;
  color: rgb(104, 228, 104);
} 
.display_flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.project_img{
    margin-right: 10%;
}
.pj_01{
    width: 450px;
}
.pj_02{
    width: 450px;
}
@keyframes article_project_1{
    from{transform: translateY(-40px);opacity: 0;}
    to{transform: translateY(10px);opacity: 1;}
}
@keyframes article_project_2{
    from{transform: translateY(-40px);opacity: 0;}
    to{transform: translateY(10px);opacity: 1;}
}

#project_Arrow{
  display: flex;
  justify-content: space-between; 
  position: absolute;
  top: 50%;
  width: 100%;
  margin: 0;
}

#project_left{
  font-size: 5rem;
  cursor: pointer;
  color: #3c4446;
}
#project_right{
  font-size: 5rem;
  cursor: pointer;
  color: #3c4446;
}
#project_left:hover,#project_right:hover{
  transform:scale(1.2);
  color: #050707;
}

#pos{
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}
#pos li{
  list-style:none;
   float: left;
}
input[type="radio"]{
    display:none;
}
input[type="radio"] + label{
    background:none;
    border:1px solid #dfdfdf;    
    padding:0px 10px;
    height:10px;
    cursor:pointer;
    border-radius: 15px;
    margin: 15px;
}

input[type="radio"]:checked + label{
    border:1px solid #23a3a7;
    background: #fffb00;
    color:#fff;
}

.modal {
  position: fixed;
  -js-display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10001;
}
.modal_close {
  position: absolute;
  margin: 20px;
  width: 70px;
  height: 70px;
  top: 0;
  right: 0;
  font-size: 50px;
  text-align: center;
  color: lightgray;
  cursor: pointer;
  z-index: 10003;
}
.modal_close:hover {
  color: #fe4a49;
}
.modal_youtube {
  position: absolute;
  width: 853px;
  height: 480px;
  background-color: black;
  z-index: 10002;
}

.project_intro_button_box {
  -js-display: flex;
  display: flex;
  justify-content: space-between;
  margin-top: 7%;
  width: 100%;
  height: 50px;
}
.project_intro_button {
  width: 48.5%;
  line-height: 45px;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  border: 2px solid #fffb00;
  transition: all 0.3s ease-in-out;
  margin-right: 15px;
  /* padding: 0px 30px; */
}
.project_intro_button:hover {
  color: white;
  background-color: #e7e405d3;
}
.project_intro_button i {
  font-size: 30px;
}
@media(max-width:800px){
  #article_project_1{
    display: flex;
    flex-flow: column;
  }
   #project_left{
    font-size: 3rem;

  }
  #project_right{
    font-size: 3rem;

  }
}
@media(max-width:449px){
 
  .pj_01{
    width:300px;
  }
  .project_ex{
    width: 250px;
  }
  .project_intro_button{
    margin-right:12px;
  }
  #project_left{
    font-size: 2rem;

  }
  #project_right{
    font-size: 2rem;

  }
}