.article_skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
    background-color: #f5f5f5;
    overflow-y: hidden;
    overflow-x: hidden;
}
.article_skills #skillbox_containar_center{
    margin-left: -50px;
    width: 1000px;
}
.article_skills #skillbox_containar{
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-flow: wrap;
    width: 100%;
    /* max-height: 250px; */
    overflow-y: hidden;
    overflow-x: hidden;
}
.skills_skillsbox_box{
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    /* align-content: flex-start;  */
}
/* @media (min-width: 1250px){
.article_skills .skillbox_containar {
    width: 1250px;
}} */
#SKILLS{
    display: flex;
    justify-content: center;
    align-items: center;
    height:20vh;
    font-size: 2.5rem ;
    font-weight : bold;
    margin-top: 40px;
    
}
 #SKILLS::before{
    content: "";
    position: absolute;
    margin-left: 43.5%;
    padding-left: 0;
    left: 0;
    width: 13%;
    height: 10%;

    border-bottom: 3px solid black; 
}
   

.article_skills #skillbox_containar .skills_title{
    padding: 4% 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #e7e405d3;
    /* background-color: rgb(160, 223, 160); */
    font-size: 1.2em;
    font-weight: 700;
    border-bottom: 1px solid gray;
    transition: all 0.5s ease-in-out;
}


.skills_skillbox{
    position: relative;
    display: flex;
    flex-flow: column;
    margin: 15px;
    margin-bottom: 20px;
    width: 210px;
    height: 210px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    
    box-shadow: 0px 3px 5px -3px rgba(0, 0, 0, 3);
}
.skills_skillbox_all{
    position: relative;
    display: flex;
    flex-flow: column;
    margin: 15px;
    margin-bottom: 20px;
    width: 210px;
    height: 210px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 3px 5px -3px rgba(0, 0, 0 , 3);
    display: none;
    
    
}
@keyframes skills_skillbox{
    from{transform: translateY(10px);opacity: 1;}
    to{transform: translateY(-40px);opacity: 0;}
    
}
@keyframes skills_skillbox_all{
    from{transform: translateY(-40px);opacity: 0;}
    to{transform: translateY(10px);opacity: 1;}
}
.skills_img {
    position: absolute;
    top: 27%;
    left: 20%;
    width: 60%;
    height: 60%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.25; /*투명도*/
    transition: all 0.3s ease-in-out;
    z-index: 0;
}
.skills_skillbox:hover .skills_img{
     opacity: 0.5;/*투명도*/
}
.skills_skillbox_all:hover .skills_img{
     opacity: 0.5;/*투명도*/
}
.skills_text {
  padding: 10px;
  padding-top: 15px;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 0.9rem;
  word-break: break-all;
  line-height: 1.6em;
  text-align: left;
  transition: all 0.3s ease-in-out;
  z-index: 0.8;
  color: black;
  }

.skills_button{
    display: block;
    text-align: center;
    font-size: 1.2em;
    padding: 15px 30px;
    width: 140px;
    border: 3px solid #fffb01;
    color: black;
    /* border : 2px solid rgb(113, 192, 113); */
    margin-bottom: 30%;

}
.skills_button:hover{
    cursor: pointer;
    background-color: #d4d100d3;
}
@media(max-width:449px){
    .skills_skillbox{
    width: 150px;
    height: 150px;
    }
    .skills_skillbox_all{
    width: 150px;
    height: 150px;
    }
    .skills_text{
        font-size: 0.8rem;
    }
}