
.icon-mail:before { content: '\e800'; } /* '' */
.icon-comment-inv:before { content: '\e801'; } /* '' */
.icon-comment:before { content: '\e802'; } /* '' */
.icon-location:before { content: '\e803'; } /* '' */
.icon-talking:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */