.article_about{
    padding-top: 40px;
    /* display: flex; */
    /* justify-content: center; */
}
#ABOUT{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    font-size: 2.5rem ;
    font-weight : bold;
    /* margin-bottom: 40px; */
}
 #ABOUT::before{
    content: "";
    position: absolute;
    margin-left: 43.5%;
    padding-left: 0;
    left: 0;
    width: 13%;
    height: 10%;

    border-bottom: 3px solid black; 
}
.introduce{
    position: relative;
    border-right: 1px dashed gray;
    border-top: 1px dashed gray;
    border-bottom: 1px dashed gray;
    display: block;
    margin-left: 12.5%;
    margin-bottom: 5%;
    width: 75%;
    background-color:  #8297db;

}
.menu-link:hover{
    color: rgb(0, 255, 255);
}
.menus{
    flex-grow: 1;
    display: inline-block;  
    border: 1px dashed gray;
    width: auto;
}
.menus a{
    display: block;
    text-decoration: none;
    line-height: 7rem;
    border-bottom: 1px dashed gray;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-size: 1.7rem;
    color: black;
    height: 7rem;
    width: auto;
    font-style: italic;
    
}

.introduce .about_1{
    display:inline-block;
    position: absolute;
    /* left: 28%; */
    width: auto;
    height: 380px;
    font-size: 1.5rem;
    padding:20px 60px;
    overflow:hidden;
    word-wrap:break-all;
}
.introduce .about_2{
    display: none;
}
.introduce .about_3{
    display: none;
}
.introduce .about_4{
    display: none;
}
.about_1_p{
    font-size: 1.8rem;
    font-weight: bold;
    display: block;
    text-align: center;
}
.strong_p{
    font-weight: bold;
}
.img_juyoung{
    height: 160px;
    width: 140px;
    bottom: 0px;
    left: 0px;
    float: left;
    padding-right: 1.5%;
}
.menu_active{
    background: #8297db;
}
.menu_active2{
    background: linear-gradient(rgb(126, 122, 128), rgb(164, 166, 172));
}
@media (max-width: 1200px){
    .introduce .about_1{
        font-size: 1.1em;

    }
    .introduce .about_2{
        font-size: 1.1em;

    }
    .introduce .about_3{
        font-size: 1.1em;

    }
    .introduce .about_4{
        font-size: 1.1em;

    }
}
@media (max-width: 800px){
    .article_about{
        display: flex;
        flex-flow: column;
        margin-left: -200px;
    }
    #ABOUT{
        margin-left: 200px;
    }
    .img_juyoung{
        width: 100px;
    }
    .menus a{
        width:150px;
        font-size: 1rem;
        
    }
    
}
@media (max-width: 449px) {
    .introduce{
        width: 380px;
        height: auto;
    }
    .menus{
        background-color: gray;
        display: flex;
        justify-content: space-between;
        align-items:flex-start;
        
    }
    .menus a{
        line-height: 7rem;
        border-bottom: 1px dashed gray;
        font-size: 0.7rem;
        font-weight: 600;
        padding-left: 15px;
        padding-right:15px;
        padding-bottom: 40px;
        color: black;
        height: 4.6rem;
        width: 100%;
        flex-flow: 1;
    }
    .img_juyoung{
    height: 100px;
    width: 80px;

    }
    .article_about{
        /* margin-bottom: 500px; */
        word-wrap: normal;
        font-size: 0.8rem;


    }
    .about_1{
         background-color:  rgb(160, 223, 160);
         height: auto;
         overflow:visible;
    }
    .menu-link{
        height: 100%;
        width: 100%;
    }
    
    #menu-link_2::before{
        content: '장점과 단점';
    }
}