footer{
    position: relative;
    background-color:  #161c24;
    width: 100%;
    height: 200px;
}
.footer_topbutton_container{
  position: absolute;
  /* -js-display: flex; */
  display: flex;
  justify-content: center;
  left: 0;
  top: -25px;
  width: 100%;
  height: 50px;
}
.up_button{
  background-color: #6383e9;
  width: 80px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.up_ani{
  font-size: 2.5rem;
  font-weight : bold;
  cursor: pointer;
  width: 80px;
  height: 60px;
  border-radius: 30px;
  text-align: center;
}
.up_ani:hover{
  animation: up_buttons 1s;
} 
@keyframes up_buttons{
  from{transform: translateY(20px);}
    to{transform: translateY(-20px);}
}
.fontello_all_div{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}
.fontello1 {
  color: rgba(255, 255, 255, 0.836);
  font-size: 2em;
  display: flex;
  flex-flow: column;
}
.fontello2{
  color: rgba(255, 255, 255, 0.836);
  font-size: 5em;
  /* margin-left: 100px; */
}
.phone_num{
  font-size: 0.8em
}
.location{
  font-size: 0.7em
}
.fontello2 a{
  color: white;
}
.fontello2 a i:hover{
  color : #6383e9;
}
.footer_jangjuyoung{
  background-color: #161c24;
  color: #626262;
  font-size: 0.8em;
  text-align: center;
  letter-spacing: 0.2em;
  z-index: 9999;
}
.footer_span{
  color: rgb(41, 41, 223);
}
@media(max-width:449px){
  .fontello_all_div{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}
.fontello1 {
  color: rgba(255, 255, 255, 0.836);
  font-size: 1.4rem;
  display: flex;
  flex-flow: column;
}
.fontello2{
  color: rgba(255, 255, 255, 0.836);
  font-size: 3rem;
  /* margin-left: 100px; */
}
}